.employee-container {
    display: flex;
    flex-direction: column;
  }
  
  .employee-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .employee-row {
      flex-direction: column;
    }
  }
  